* {
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
  
  .noScroll,
  .noScroll body {
    overflow: hidden;
  }

body {
    margin: 0px;
}

main {
    display: block;
}

p {
    color: #000000;
    margin-left: 8%;
    margin-right: 8%;
}

h2 { 
    color: #000000;
    margin-left: 22px;
    margin-right: 22px;  
    font-size: 20px;  
}

h1 {
    color: #000000;
    margin-left: 22px;
    margin-right: 22px;  
    font-size: 20px;  
}





.error__404 {
    background-color: blue;
    padding-bottom: 100%;
    
}

.text p {
    background-color: #505050;
    color: #fff;
    border-radius: 10px;
    padding: 3%;
    padding-top: 20%;

}

.accueil__def {
    margin-bottom: -30%;
    z-index: 1;
    color: #fff;
    position: absolute;
    bottom: 120px;
    text-align: center;
}



.accueil__fond--intro {
    position: relative;
 
}




.fond__404 {
    background-color: blue;

}

.john__info--sup {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-align: center;
    background-color: #505050;
    position: relative;
    border: none;
    margin-inline: auto;
    display: flex;
    margin-top: -10px;
    border-radius: 20px;

}


.john__info--sup p {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-align: center;
    background-color: #505050;

}

.john__info--link li a {
    color: rgb(0, 0, 0);
    text-align: center;
}


