.footer {
    background-color: black;
    border-top: #505050;
    border-top-style: solid;
    border-top-width: 4rem;
    position: relative;
    margin-bottom: -3rem;
}

.footer p {
    text-align: center;
    color: white;
    padding-bottom: 8%

}

.footer a {
    color: white;
}

.footer__link {
    font-style : italic;
}

.footer--logo img {
    width: 10%;
    display: flex;
    justify-content: center;
}

